[flake8]
select=
    # pyflakes Messages:
    # module imported but unused
    F401,
    # import module from line N shadowed by loop variable    
    F402,
    # ‘from module import *’ used; unable to detect undefined names    
    F403,
    # future import(s) name after other statements    
    F404,
    # name may be undefined, or defined from star imports: module    
    F405,
    # ‘from module import *’ only allowed at module level    
    F406,
    # an undefined __future__ feature name was imported    
    F407,
    # assertion test is a tuple, which are always True
    F631,
    # an except: block as not the last exception handler
    F707,
    # local variable name is assigned to but never used
    F841,
    # pychecker messages
    # Deprecation warnings
    W6


exclude=__init__.py
