[submodule "lazyflow"]
	path = lazyflow
	url = http://github.com/ilastik/lazyflow.git
[submodule "volumina"]
	path = volumina
	url = http://github.com/ilastik/volumina.git
[submodule "ilastik"]
	path = ilastik
	url = http://github.com/ilastik/ilastik.git
