[submodule "ilastik"]
	path = ilastik
	url = git://github.com/ilastik/ilastik
[submodule "volumina"]
	path = volumina
	url = git://github.com/ilastik/volumina
[submodule "lazyflow"]
	path = lazyflow
	url = git://github.com/ilastik/lazyflow
