*.backup
*.pyc
.settings/org.eclipse.core.resources.prefs

.pydevproject

.project

workflow2.py

5d.npy
d.h5
mytools.py
src/oli_quadViewSplitterOli.py

src/oli_quadViewHUDandStatusBar.py

oli_workflow2.py

.DS_Store
