name: deploy

on:
  push:
    tags:
      - '1.*'

jobs:
  package:
    runs-on: ubuntu-latest
    environment: conda-deploy
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
          miniforge-version: latest
          conda-solver: libmamba
      - name: install build dependencies
        run: |
          conda install -n base -c conda-forge boa setuptools_scm anaconda-client -y
          conda config --set anaconda_upload yes
      - name: linux conda build and upload
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda install -n base -c conda-forge boa setuptools_scm anaconda-client -y
          conda config --set anaconda_upload yes
          xvfb-run --server-args="-screen 0 1024x768x24" \
          conda mambabuild -c pytorch -c nvidia -c ilastik-forge -c conda-forge \
          --user ilastik-forge \
          conda-recipe

  trigger-release:
    needs: [package]
    runs-on: ubuntu-latest
    steps:
      - name: trigger
        run: |
          echo "Triggering release pipeline!"
          curl \
            --silent \
            -X POST \
            -F token=${{ secrets.GL_TOKEN }} \
            -F "ref=main" \
            -F "variables[ILASTIK_VERSION]=${GITHUB_REF##*/}" \
            --output /dev/null \
            ${{ secrets.GL_URL }}
