name: deploy

on:
  push:
    tags:
      - '1.*'

jobs:
  package:
    runs-on: ubuntu-latest
    environment: conda-deploy
    env:
      CONDA_OVERRIDE_CUDA: "12.6"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be
        # Need to free up space for the GPU job to finish - pytorch/libtorch got quite big from 2.8.0
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: install xvfb/deps
        run: |
          sudo apt-get update
          sudo apt-get install -yy mesa-utils libgl1-mesa-dev xvfb curl
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
          miniforge-version: latest
          conda-solver: libmamba
          conda-remove-defaults: "true"
      - name: install build dependencies
        run: |
          conda install -n base -c conda-forge conda-build setuptools_scm anaconda-client -y
          conda config --set anaconda_upload yes
      - name: linux conda build and upload
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          xvfb-run --server-args="-screen 0 1024x768x24" \
          conda build -c conda-forge -c ilastik-forge \
          --user ilastik-forge \
          conda-recipe

  trigger-release:
    needs: [package]
    runs-on: ubuntu-latest
    steps:
      - name: trigger
        run: |
          echo "Triggering release pipeline!"
          curl \
            --silent \
            -X POST \
            -F token=${{ secrets.GL_TOKEN }} \
            -F "ref=main" \
            -F "variables[ILASTIK_VERSION]=${GITHUB_REF##*/}" \
            --output /dev/null \
            ${{ secrets.GL_URL }}
